<div fxLayoutAlign="center center">

  <mat-form-field fxFlex="60%">
    <input matInput type="text" (keyup)="hacerFiltro($event)" placeholder="Ingrese texto">
  </mat-form-field>

</div>

<table mat-table [dataSource]="dataSource" matSort (matSortChange)="ordenarColumna($event)">

  <!-- Position Column -->
  <ng-container matColumnDef="libroId">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> libroId </th>
    <td mat-cell *matCellDef="let element"> {{element._id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="titulo">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> titulo </th>
    <td mat-cell *matCellDef="let element"> {{element.titulo}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="descripcion">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> descripcion </th>
    <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="precio">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> precio </th>
    <td mat-cell *matCellDef="let element"> {{element.precio}} </td>
  </ng-container>

  <ng-container matColumnDef="autor">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> autor </th>
    <td mat-cell *matCellDef="let element"> {{element.autor.nombrecompleto}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="desplegarColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: desplegarColumns;"></tr>

</table>

<mat-paginator  (page)="eventoPaginador($event)"
                #paginacion
                [length]="totalLibros"
                [pageSize]="librosPorPagina"
                [pageSizeOptions]="paginaCombo">
</mat-paginator>

<button mat-fab id="boton-agregar" color="warn" (click)="abrirDialog()">
  <mat-icon>add</mat-icon>
</button>
